<%= form_tag('/flights', method: :get) do %>
  Departing: 
  <%= collection_select :flight, :departing_id, Airport.all, :id, :code %>
  
  Destination:
  <%= collection_select :flight, :arriving_id, Airport.all, :id, :code %>

  Passengers:
  <%= select :flight, :passengers, (1..4) %>

  Date:
  <%= collection_select :flight, :date, Flight.distinct_dates, :date, :flight_date_formatted %>

  <%= submit_tag "Find a flight" %>
<% end %>

<% if @flights %>
  <% @flights.each do |flight| %>
    <p>
      <%= flight.departing_id %>
      <%= flight.arriving_id %>
      <%= flight.date.to_s %>
    </p>
  <% end %>
<% end %>

<% unless @flights.nil? || @flights.empty? %>
  <%= form_tag('bookings/new', method: :get) do %>
    <%= hidden_field_tag(:passengers, params[:flight][:passengers]) %>
    <%= collection_radio_buttons(:booking, :flight_id, @flights, :id, :date) do |b| %>
      <%= b.radio_button %>
      <%= b.object.duration %>
      <%= b.object.date %>
    <% end %>
    <%= submit_tag "Accept this flight" %>
  <% end %>
<% end %>