<%= form_tag('/flights', method: :get) do %>
  Departing: 
  <%= collection_select :flight, :departing_id, Airport.all, :id, :code %>
  
  Destination:
  <%= collection_select :flight, :arriving_id, Airport.all, :id, :code %>

  Passengers:
  <%= select_tag(:passengers, 1..4) %>

  Date:
  <%= collection_select :flight, :date, Flight.distinct_dates, :date, :flight_date_formatted %>

  <%= submit_tag "Find a flight" %>
<% end %>

<% if @chosen_flights %>
  <% @chosen_flights.each do |flight| %>
    <p>
      <%= flight.departing_id %>
      <%= flight.arriving_id %>
      <%= flight.date.to_s %>
    </p>
  <% end %>
<% end %>